h1 {
    text-align: center;
}
h2 {
    text-align: right;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-right:200px;
}
nav ul li {
    text-align: center;
    text-decoration: none;
    color:rgb(163, 219, 32);
    font-size: 40px;
}
nav ul li a:hover{
    text-align: center;
    color: #ff5ea2;
}
.information {
    font-family: "Times New Roman", 'Times New Roman', Times, serif
}

.socialmedialinks {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-right:200px;
}
.socialmedialinks {
    text-align: center;
    text-decoration: none;
    color:rgb(163, 219, 32);
    font-size: 40px;
}
.socialmedialinks :hover{
    text-align: center;
    color: #ff5ea2;
}

.EVERYONELOVESIT {
    font-size: 100px;
}
.songs {
    font-size: 40px;
}
.contact {
    font-size: 50px;
}

.kofi {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin-right:200px;
}
.kofi {
    text-align: center;
    text-decoration: none;
    color:rgb(163, 219, 32);
    font-size: 40px;
}
.kofi :hover{
    text-align: center;
    color: #b8a70e;
}

.animation_text {
    width: 100px;
    height: 150px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation: example 5s linear 2s infinite alternate;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; right:1000px; top:0px;}
    50%  {background-color:blue; right:1000px; top:0px;}
    75%  {background-color:green; left:1000px; top:0px;}
    100% {background-color:red; right:1000px; top:0px;}
  }

